@model ViewPostListForIndex
<ul class="list-unstyled">   
    @foreach (ViewPostModel post in Model.viewPostList)
    {
    <li class="media my-4">
        <div class="media-body">
            <h5 class="mt-0 mb-1">@Html.ActionLink(post.Title, "Show", "Post", new { ID = post.ID },new { @class="nav-link"})</h5>
        </div>
    </li>
    }
</ul>
