<header class="masthead" style="background-image: url('../../Content/startbootstrap-clean-blog-master/src/assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading"></div>
            </div>
      </div>
    </div>
 </header>
<center>
<address>
    中国·江西<br />
    <br />
    <abbr title="Phone">邮政编号:</abbr>
    341000
</address>

<address>
    <strong>电子邮箱:</strong>   <a href="https://mail.163.com/">include_zjj0818@163.com</a><br />
    <strong>QQ:</strong> <a href="#">2385172737</a>
</address>
</center>