@using BlogModel
@using ViewClassLib
@model ViewForPostIndexModel
<header class="masthead" style="background-image: url('../../Content/startbootstrap-clean-blog-master/src/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading"></div>
            </div>
      </div>
    </div>
 </header>
<ul>
    @foreach (Post item in @Model.posts)
    {
    <li>
        @Html.ActionLink(item.Title, "Show", new { ID=item.ID})
       
    </li>
    }
</ul>
文章总数：@Model.counter